<div class="center hero-unit">
  <h1>Welcome to your Dashboard</h1>
  <div class='container-fluid'>
    <div class='col-md-6'>
      <h2>Here are your Devices</h2>
      <% watch :pin => 17, :goes=> :high do %>
      <%= puts 'motion detected' %>
      <% end %>
    </div>
    <div class='col-md-6 col-lg-6'>
      <h2>Here are your Events</h2>
    </div>
  </div>
</div>