<div class="center hero-unit">
  <h1>Welcome to your Dashboard</h1>
  <div class='row'>
    <div class="panel panel-info col-md-6" style="padding: 0;">
      <div class="panel-heading">
        <h3 class="panel-title">Devices</h3>
      </div>
      <div class="panel-body" style="text-align: left;">
        <ul class="list-group">
          <li class="list-group-item">  
            Sensor 1
            <div class="circle offline badge"></div>
          </li>
          <li class="list-group-item">
            Sensor 2
             <div class="circle online badge"></div>
          </li>
          <li class="list-group-item">
            Kitchen lights
            <div class="circle online badge"></div>
          </li>
        </ul>              
      </div>
    </div>
  </div>
  <div class="panel panel-info col-md-6" style="padding: 0;">
    <div class="panel-heading">
      <h3 class="panel-title"> Event History</h3>
    </div>
    <div class="panel-body" style="text-align: left;">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">18:30</span>
          Kitchen lights switched on
        </li>
        <li class="list-group-item">
          <span class="badge">18:27</span>
          Sensor 1 went online
        </li>
        <li class="list-group-item">
          <span class="badge">18:00</span>
          Sensor 1 went offline
        </li>
      </ul>
    </div>
  </div>
</div>
