<%= form_for @event do |e| %>
  <!-- Trigger Device -->
  <%= e.select(:trigger_device, options_from_collection_for_select(Device.all, "name", "name"), {}, {class: 'form-control'}) %>
  <!-- Trigger Device Status -->
  <%= e.select(:trigger_device_status, options_for_select([ "On", "Off" ]), {}, {class: 'form-control'}) %>

  <button type="button" class="btn btn-default" id='new_device'>+ Add Device</button>
  <button type="button" class="btn btn-default" id='add_time'>+ Add Time</button>
  <%= e.submit 'Create Event', :class => 'btn btn-default disabled', :id => 'create_event' %>
<% end %>