// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal */

html { overflow-y: scroll; }

section { overflow: auto; }

textarea { resize: vertical; }

.center { 
  text-align: center;
  border-radius: 0px;
  h1{ margin-bottom: 10px; }
}

li{
  font-size: 20px;
}
.bootstrap-switch{
  float: right;
}
.circle { 
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
.status{
  display: block !important;
  width: 12px;
  height: 10px;
}
.online   { background: green; }
.offline  { background: red; }
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 1px 1.5px 2px;  
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.list-group-item{ border: none !important; }
.form-control{
  display: inline-block;
  width: inherit;
}
.fa{ float: right; }
.fa-pencil{}
.fa-trash-o{
  margin-left: 20px;
  color: red;
}
a:hover, a:focus {
  text-decoration: none;
}
.panel-heading{
  text-align: left;
  a {
    position: absolute !important;
    top: 4px !important;
    right: 10px !important;
    width: 30px;
    height: 30px;
  }
}
.switches{
  float: right;
}
.modal{
  .modal-header{
    background-color: #d9edf7;
    color: #31708f;
  }
  .modal-content{ border-color: #bce8f1; }
}
/* show the move cursor as the user moves the mouse over the panel header.*/
#draggablePanelList .alert {
    cursor: move;
}
